<div>
    <a href="/">Home</a><br><br>
    <h1>Register</h1>
    <form action="/api/products/addProduct" method="post">

   
    <input id="title" name="title" type="text" placeholder="Producto"><br><br>
    <input id="description" name="description" type="text" placeholder="Description"> <br><br>
    <input id="price" name="price" type="text" placeholder="price"><br><br>
    <input id="thumbnail" name="thumbnail" type="text" placeholder="thumbnail"> <br><br>
    <input id="code" name="code" type="text" placeholder="code"> <br><br>
    <input id="stock" name="stock" type="text" placeholder="stock"><br><br>
    <input id="category" name="category" type="text" placeholder="category"><br><br>
    <button type="submit" id="register">AGREGAR</button>

     </form>
</div>