<div>
    <h1>Register</h1>
    <form action="/api/session/register" method="post">

   
    <input id="firest_name" name="firest_name" type="text" placeholder="firest_name"><br><br>
    <input id="last_name" name="last_name" type="text" placeholder="last_name"> <br><br>
    <input id="age" name="age" type="text" placeholder="age"><br><br>
    <input id="email" name="email" type="text" placeholder="email"> <br><br>
    <input id="password" name="password" type="password" placeholder="password"> <br><br>
    <button type="submit" id="register">Register</button>
     </form>
</div>