<div>
     <form action="/api/session/login" method="post">
    <a href="/api/session/githublogin">GitHub</a> <br><br>
    <h1>Login</h1>
    <input id="email" name="email" type="text" placeholder="Email"><br><br>
    <input id="password" name="password" type="password" placeholder="Password"> <br><br>
    <a id="register" href="/api/session/viewRegister">register</a><br><br><button type="submit" id="login">Login</button>
    </form>
</div>