<div>
    <a href="/">Home</a>

    <h1>Gracias por tu compra</h1>

    <h3>Nº de Ticket: {{ticket.code}}</h3>
    <h4>FECHA: {{ticket.purchase_dateTime}}</h4>
    <h4>Total: $ {{ticket.amount}}</h4>
</div>